<a href="https://colab.research.google.com/github/Rogerio-mack/Analise_Exploratoria_de_Dados/blob/main/AED_2_ex_solucao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg"  width=300, align="right">
<br>
<br>
<br>
<br>
<br>

# Programação em R
---

Aqui você vai fazer algumas explorações de dados fazendo seleções e empregando o que você já aprendeu de R.

# Exercícios 

Após fazer os exercícios **responda o questionário correspondente no Moodle**.

# **CASE** Seguros

Considere a seguinte base de dados de seguros:

http://meusite.mackenzie.br/rogerio/data_load/insurance.csv

e responda as perguntas a seguir.

# Exercício 0
Antes de começar acesse os dados

In [ ]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/insurance.csv')
head(df)

  age sex    bmi    children smoker region    charges
1 19  female 27.900 0        yes    southwest 16884.924
2 18  male   33.770 1        no     southeast  1725.552
3 28  male   33.000 3        no     southeast  4449.462
4 33  male   22.705 0        no     northwest 21984.471
5 32  male   28.880 0        no     northwest  3866.855
6 31  female 25.740 0        no     southeast  3756.622

# Exercicio 1
Qual a quantidade de registros da base de dados?

In [ ]:
nrow(df)

[1] 1338

# Exercicio 2
Quais são os atributos numéricos e categóricos (assumem valores não numéricos)  na base? Quantos há de cada?

In [ ]:
head(df)

  age sex    bmi    children smoker region    charges
1 19  female 27.900 0        yes    southwest 16884.924
2 18  male   33.770 1        no     southeast  1725.552
3 28  male   33.000 3        no     southeast  4449.462
4 33  male   22.705 0        no     northwest 21984.471
5 32  male   28.880 0        no     northwest  3866.855
6 31  female 25.740 0        no     southeast  3756.622

In [ ]:
str(df)

'data.frame':	1338 obs. of  7 variables:
 $ age     : int  19 18 28 33 32 31 46 37 37 60 ...
 $ sex     : chr  "female" "male" "male" "male" ...
 $ bmi     : num  27.9 33.8 33 22.7 28.9 ...
 $ children: int  0 1 3 0 0 0 1 3 2 0 ...
 $ smoker  : chr  "yes" "no" "no" "no" ...
 $ region  : chr  "southwest" "southeast" "southeast" "northwest" ...
 $ charges : num  16885 1726 4449 21984 3867 ...

In [ ]:
sapply(df, class)

        age         sex         bmi    children      smoker      region
  "integer" "character"   "numeric"   "integer" "character" "character"
    charges
  "numeric"

# Exercicio 3
Quantas regiões estão presentes na base de dados? 

Dica: empregue `table( )` ou `unique( )`

In [ ]:
table( df$region )

northeast northwest southeast southwest
      324       325       364       325

In [ ]:
unique( df$region )

[1] "southwest" "southeast" "northwest" "northeast"

# Exercício 4

Empregue `summary()` para obter estatísticas sumarizadas dos dados. Qual a média de idade dos segurados?

In [ ]:
summary(df)

      age            sex                 bmi           children
 Min.   :18.00   Length:1338        Min.   :15.96   Min.   :0.000
 1st Qu.:27.00   Class :character   1st Qu.:26.30   1st Qu.:0.000
 Median :39.00   Mode  :character   Median :30.40   Median :1.000
 Mean   :39.21                      Mean   :30.66   Mean   :1.095
 3rd Qu.:51.00                      3rd Qu.:34.69   3rd Qu.:2.000
 Max.   :64.00                      Max.   :53.13   Max.   :5.000
    smoker             region             charges
 Length:1338        Length:1338        Min.   : 1122
 Class :character   Class :character   1st Qu.: 4740
 Mode  :character   Mode  :character   Median : 9382
                                       Mean   :13270
                                       3rd Qu.:16640
                                       Max.   :63770

# Exercício 5

Empregue `mean()` para a média das cobranças (charges) dos segurados.

In [ ]:
mean(df$charges)

[1] 13270.42

# Exercício 6
Qual a quantidade de segurados fumantes?

In [ ]:
nrow( df[ df$smoker == 'yes', ] )

[1] 274

In [ ]:
table( df$smoker )

  no  yes
1064  274

# Exercício 7
Qual o percentual de segurados fumantes?

In [ ]:
nrow( df[ df$smoker == 'yes', ] ) / nrow( df )

[1] 0.2047833

# Exercício 8
Qual o percentual de segurados fumantes do sexo feminino?

In [ ]:
nrow( df[ df$smoker == 'yes' & df$sex == 'female', ] ) / nrow( df )

[1] 0.08594918

# Exercício 9
Qual a média de despesas dos segurados com menos de 21 anos?

In [ ]:
mean( df[ df$age < 21 , ]$charges )

[1] 8713.482

# Exercício 10 
Qual o percentual de cobranças (com relação ao total da base) para seguradas com idade < 25 anos?

In [ ]:
sum( df[ (df$sex == 'female') & (df$age < 25) , ]$charges ) / sum( df$charges )

[1] 0.06512881