<a href="https://colab.research.google.com/github/Rogerio-mack/Analise_Exploratoria_de_Dados/blob/main/AED_2_ex_solucao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg"  width=300, align="right">
<br>
<br>
<br>
<br>
<br>

# Programação em Python
---

Aqui você vai fazer algumas explorações de dados fazendo seleções e empregando o que você já aprendeu de Python.

# Exercícios 

Após fazer os exercícios **responda o questionário correspondente no Moodle**.

# **CASE** Seguros

Considere a seguinte base de dados de seguros:

http://meusite.mackenzie.br/rogerio/data_load/insurance.csv

e responda as perguntas a seguir.

# Exercício 0
Antes de começar acesse os dados

In [1]:
import pandas as pd
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Exercicio 1
Qual a quantidade de registros da base de dados?

In [2]:
len(df)

1338

In [3]:

df.shape

(1338, 7)

# Exercicio 2
Quais são os atributos numéricos e categóricos (assumem valores não numéricos)  na base? Quantos há de cada?

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

# Exercicio 3
Quantas regiões estão presentes na base de dados? 

Dica: empregue `table( )` ou `unique( )`

In [7]:
df.region.value_counts()

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

In [8]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

# Exercício 4

Empregue `describe()` para obter estatísticas sumarizadas dos dados. Qual a média de idade dos segurados?

In [9]:
df.describe(include='all')

                age   sex          bmi  ...  smoker     region       charges
count   1338.000000  1338  1338.000000  ...    1338       1338   1338.000000
unique          NaN     2          NaN  ...       2          4           NaN
top             NaN  male          NaN  ...      no  southeast           NaN
freq            NaN   676          NaN  ...    1064        364           NaN
mean      39.207025   NaN    30.663397  ...     NaN        NaN  13270.422265
std       14.049960   NaN     6.098187  ...     NaN        NaN  12110.011237
min       18.000000   NaN    15.960000  ...     NaN        NaN   1121.873900
25%       27.000000   NaN    26.296250  ...     NaN        NaN   4740.287150
50%       39.000000   NaN    30.400000  ...     NaN        NaN   9382.033000
75%       51.000000   NaN    34.693750  ...     NaN        NaN  16639.912515
max       64.000000   NaN    53.130000  ...     NaN        NaN  63770.428010

[11 rows x 7 columns]

# Exercício 5

Empregue `mean()` para a média das cobranças (charges) dos segurados.

In [ ]:
df.charges.mean()

# Exercício 6
Qual a quantidade de segurados fumantes?

In [10]:
len( df[ df.smoker == 'yes' ] )

274

# Exercício 7
Qual o percentual de segurados fumantes?

In [ ]:
len( df[ df.smoker == 'yes'] ) / len( df )

# Exercício 8
Qual o percentual de segurados fumantes do sexo feminino?

In [ ]:
len( df[ (df.smoker == 'yes') & (df.sex == 'female') ] )/ len( df )

# Exercício 9
Qual a média de despesas dos segurados com menos de 21 anos?

In [ ]:
df[ (df.age < 21) ].charges.mean()

# Exercício 10 
Qual o percentual de cobranças (com relação ao total da base) para seguradas com idade < 25 anos?

In [ ]:
df[ (df.sex == 'female') & (df.age < 25) ].charges.sum() / df.charges.sum()